@model XLantCore.Models.MLFSSale

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>New Business</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RelevantDate" class="control-label"></label>
                <input asp-for="RelevantDate" class="form-control" />
                <span asp-validation-for="RelevantDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IOReference" class="control-label"></label>
                <input asp-for="IOReference" class="form-control" />
                <span asp-validation-for="IOReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPeriodId" class="control-label"></label>
                <select asp-for="ReportingPeriodId" class="form-control" asp-items="ViewBag.ReportingPeriodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdvisorId" class="control-label"></label>
                <select asp-for="AdvisorId" class="form-control" asp-items="ViewBag.AdvisorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderName" class="control-label"></label>
                <input asp-for="ProviderName" class="form-control" />
                <span asp-validation-for="ProviderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanType" class="control-label"></label>
                <input asp-for="PlanType" class="form-control" />
                <span asp-validation-for="PlanType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNew" /> @Html.DisplayNameFor(model => model.IsNew)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NetAmount" class="control-label"></label>
                <input asp-for="NetAmount" class="form-control" />
                <span asp-validation-for="NetAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VAT" class="control-label"></label>
                <input asp-for="VAT" class="form-control" />
                <span asp-validation-for="VAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Investment" class="control-label"></label>
                <input asp-for="Investment" class="form-control" />
                <span asp-validation-for="Investment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnGoingPercentage" class="control-label"></label>
                <input asp-for="OnGoingPercentage" class="form-control" />
                <span asp-validation-for="OnGoingPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanReference" class="control-label"></label>
                <input asp-for="PlanReference" class="form-control" />
                <span asp-validation-for="PlanReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedOtherIncome" class="control-label"></label>
                <input asp-for="EstimatedOtherIncome" class="form-control" />
                <span asp-validation-for="EstimatedOtherIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
